
body {
 
  background-color: #0a0a0a;
  color: #ffffff;
  font-family:coursive;
  font-size: .95rem;
}

h1{
  text-align: center;
  font-size:50px;
  font-weight: 500;
  
}

.container {
display: flex;
justify-content: space-around;
align-items: center;
margin: 30px;
padding: 10px 10px;
text-align: center;
 flex-direction: column;
 
}

.container a{
  

  text-decoration: none;
  font-size: 20px;
  height: 20px;
  width: 20%;
  padding: 10px 10px;
  margin:0 0 20px 20px;
border:2px solid rgb(241, 234, 233);
color: #ffffff;
}
 